@media screen and (min-width:1025px) and (max-width: 1200px) {
 
    .header {
        .alineadorLogo {
            h1 {

                padding: 29px 0 24px 0;
                font-size: 35px;
            }
        }

        .alineadorMenu{


            .menuNav{

                a, span{

                    padding: 0 13px;
                }

            }
        }

        
    }


    .sliderEmpresa{


        h2{

            margin-top: 51px;
        }

        .flexSlider{

            .contendorImg {

                height: auto;
                width: 150%;

                .parrafo{

                    width: 70%;
                    transform: translate(160px, 224px);
                }
    
                .img {
                   
                    width: 80%;
                    margin: 92px;
                    height: 553px;
                    transform: translateY(-345px);
                }
            }

            .slideshow-container {

                width: 100%;
                margin: 278px 17px;
                transform: translate(10px, 123px);
            }

        }
    }
    .productos {

        .alineacionProductos {

            .contenedorFlex {

                .item1 {

                    width: 30%;
                }
            }

            .asideProductos{


                .search{

                    justify-content: center;
                    
                    input{

                        width: 90%;
                    }
                }
            }
        }
    }
}// fin media queria 1200px

@media screen and (min-width:769px) and (max-width: 1024px) {

    .header {
        .alineadorLogo {
            h1 {

                padding: 29px 0 24px 0;
                font-size: 20px;
                height: 84px;
            }
        }
   

        .alineadorMenu{

            

            .menuNav a{

                padding: 0 12px; 
            }
        }

        .alineacionBurger {
            
            width: 9%;
        }
    }

    .sliderEmpresa {
    
        h2 {
            transform: none;
            margin-top: 15px;
        }

        .flexSlider{ 
        
            .contendorImg {

                height: auto;

                .parrafo {
                    
                    width: 65%;
                    transform: translate(74px, 72px);
                    margin-bottom: 83px;
                }

                .img {
                    
                    width: 85%;
                    margin: 50px;
                    height: 491px;
                    transform: translateY(-492px);
                }
            }

            .slideshow-container {

                height: auto;
                margin: auto;
                transform: translateX(-15px);
                left: -116px;

                .img2 {
                    
                    width: 150%;
                }
            }
        }
    }

    .empresaID {
        height: 100px;
    }
    .productos {

        .alineacionProductos {

            .contenedorFlex {

                width: 100%;

                .item1 {

                    width: 33%;
                    padding: 12px;
                }
            }

            .asideProductos {

                width: 22%;

                .search{

                    justify-content: center;
                    
                    input{

                        width: 90%;
                    }
                }

                .filtro{

                    .sliderContainer {

                        width: 90%;
                    }
                }
            }
        }
    }
}// fin media queria 1024px


@media screen and (min-width:481px) and (max-width: 768px) {

    .header{

        flex-direction: column;
        
        .alineacionBurger{

            width: 100%;
            justify-content: space-evenly;
            align-items: center;

            .burger{

            display:inline;
                
            }

            .burger.active .bar:nth-child(2){

                opacity: 0;
            }
            .burger.active .bar:nth-child(1){

                transform: translateY(8px) rotate(45deg);
            }
            .burger.active .bar:nth-child(3){

                transform: translateY(-8px) rotate(-45deg);
            }

            
            .cart1 {
                    
                width: 30px;
                margin-left: 258px;
                height: 28px;
            }
                
            .openbtn{

                transform: translateX(-25px);
                padding: 0px 10px;
            }

        }
        
        .alineadorLogo {

            width: 100%;
            justify-content: center;
           
            h1 {

                padding: 19px 0 0px 0;
                font-size: 30px;
                height: 67px;
            }
            .logoHeader {

                width: 4.25rem;
            }
                
        }
   
        .iconResponsive{
   
            display: inline;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: 0;
            margin: 33px;
            box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
            border-radius: 3px;
           
        }

        .alineadorMenu{
  
            text-align: center;
            width: 100%;

            .menuNav{

               position: fixed;
               left: -100%;
               top: 101px;
               flex-direction: column;
               width: 100%;
               text-align: center;
               transition: 0.3s;
               background-color: rgba(0, 0, 0, 0.966);

                li {

                    padding: 10px 0;
                    margin: 16px 0;

                    a{
                        padding: 10px 0;
                    }
                }
            }

            .menuNav.active{

                left:0;
            }
        }
    }
   
    .empresaID {
        height: 100px;
    }

   
    .sliderEmpresa{

        justify-content: center;
        flex-direction: column;

        h2{

            margin-top: 15px;
            transform: none;
            color: #ffffff;
        }

        .flexSlider {

            display: flex;
            flex-direction: column;

            .contendorImg {

                height: auto;

                .parrafo {

                    width: 90%;
                    text-align: center;
                    transform: translate(22px, 31px);
                    font-size: large;
                }
                
                .img {
                    
                    width: 95%;
                    height: 763px;
                    transform: translate(12px, -422px);
                    margin: 0;
                }
            }

            .slideshow-container {
               
                width: 80%;
                align-self: center;
                margin-top: 40px;
            }






        }

    }

    .partners{

        .flexPartner{

            flex-direction: column;
            align-items: center;

            p {
                width: 90%;
                align-self: center;
            }
        }
    }
    .productos {

        .tituloProductos{

            color:black;
            background-color: white;
            border-top: none;
            border-bottom: none;
            position: sticky;
            top: 100px;
            
        }
        .alineacionProductos {

            flex-direction: column;

            .asideProductos{

                width: 100%;
                height: auto;
                align-items: center;
                justify-content: space-evenly;
                top: 147px;
                border-left: 0;

                .containerFiltro {

                    position: fixed;
                    background-color: black;
                    width: 100%;
                    top: 176px;
                    left: -100%;
                    transition: 0.8s;
                }

                .containerFiltro.active{

                    left:0;
                }

                .burgerFiltro{

                    display:inline;
                        
                }
                .burgerFiltro.active .bar2:nth-child(2){

                    opacity: 0;
                }
                .burgerFiltro.active .bar2:nth-child(1){
    
                    transform: translateY(8px) rotate(45deg);
                }
                .burgerFiltro.active .bar2:nth-child(3){
    
                    transform: translateY(-8px) rotate(-45deg);
                }

                .search {
                 
                    align-self: center;
                }
                
                
            }

            .contenedorFlex {

                width: 100%;

                .item1 {

                    width: 49%;
                    padding: 12px;
                }
            }
        }
    }

    .contenedorMenuFooter{

        .menuNavFooter{

            display:none;
            transition: 10.3s;
        }

        .menuNavFooter.active{

            display: flex;
            flex-direction: column;
            
        }
    }

    .footerPrincipal .footerAlineacion .contenedorMenuFooter li {

        margin: 7px;
    }

    .burgerFooter{

        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .burgerFooter.active .bar:nth-child(2) {

        opacity: 0;
    }

    .burgerFooter.active .bar:nth-child(1) {

        transform: translateY(8px) rotate(45deg);
    }

    .burgerFooter.active .bar:nth-child(3) {

        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (min-width:320px) and (max-width: 480px) {

    .header{

        flex-direction: column;
        
        .alineacionBurger{

            width: 100%;
            justify-content: center;
            align-items: center;

            .burger{

            display:inline;
                
            }

            .burger.active .bar:nth-child(2){

                opacity: 0;
            }
            .burger.active .bar:nth-child(1){

                transform: translateY(8px) rotate(45deg);
            }
            .burger.active .bar:nth-child(3){

                transform: translateY(-8px) rotate(-45deg);
            }

            
            .cart1 {
                    
                width: 30px;
                margin-left: 80px;
                height: 28px;
            }
                
            .openbtn{

                transform: translateX(0px);
                padding: 0px 10px;
            }

        }
        
        .alineadorLogo {

            width: 100%;
            justify-content: center;
           
            h1 {

                padding: 19px 0 0px 0;
                font-size: 20px;
                height: 67px;
            }
            .logoHeader {

                width: 4.25rem;
            }
                
        }
   
        .iconResponsive{
   
            display: inline;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: 0;
            margin: 33px;
            box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
            border-radius: 3px;
           
        }

        .alineadorMenu{
  
            text-align: center;
            width: 100%;

            .menuNav{

               position: fixed;
               left: -100%;
               top: 101px;
               flex-direction: column;
               width: 100%;
               text-align: center;
               transition: 0.3s;
               background-color: rgba(0, 0, 0, 0.966);

                li {

                    padding: 10px 0;
                    margin: 16px 0;

                    a{
                        padding: 10px 0;
                    }
                }
            }

            .menuNav.active{

                left:0;
            }
        }
    }

    .hero{

        display: none;
    }

       
    .empresaID {
        height: 100px;
    }

   
    .sliderEmpresa{

        justify-content: center;
        flex-direction: column;

        h2{

            margin-top: 15px;
            transform: none;
            color: #ffffff;
        }

        .flexSlider {

            display: flex;
            flex-direction: column;

            .contendorImg {

                height: auto;

                .parrafo {

                    width: 90%;
                    text-align: center;
                    transform: translate(13px, 31px);
                    font-size: large;
                }
                
                .img {

                    width: 95%;
                    height: 996px;
                    transform: translate(6px, -722px);
                    margin: 0;
                }
            }

            .slideshow-container {

                width: 80%;
                align-self: center;
                margin-top: 67px;
                transform: translateX(-1px);
                
                .img2 {
                        
                    width: 100%;
                    
                }
            }






        }

    }

    .partners{

        p {
    
            font-size: large;
            line-height: 30px;
        }

        .flexPartner{

            flex-direction: column;
            align-items: center;

            p {
                width: 95%;
                align-self: center;
            }
        }

        .tab button {
   
            font-size: 15px;
        }
        
            
        .grid {

            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
            width: 100%;
            place-items: center;
        }


        .gridUno {

            grid-area: 2/2/3/3;
        }

        .gridDos {

            grid-area: 2/3/3/4;
        }
        .gridTres {

            grid-area: 3/2/4/3;
        }

        .gridCuatro {

            grid-area: 3/3/4/4;
        }

        .gridCinco {

            grid-area: 4/2/5/3;
        }
        .gridSeis {

            grid-area: 4/3/5/4;
        }

        .gridSiete {

            grid-area: 5/2/6/3;
        }

        .gridOcho {
            
            grid-area: 5/3/6/4;
        }
    



       



    }


    .productos {


        .tituloProductos{

            display: none;
                
        }
        .alineacionProductos {

            flex-direction: column;

                .asideProductos{

                    width: 100%;
                    height: auto;
                    align-items: center;
                    justify-content: space-evenly;
                    top: 101px;
                    border-left: 0;
    
                    .containerFiltro {
    
                        position: fixed;
                        background-color: #000000db;
                        width: 100%;
                        top: 131px;
                        left: -100%;
                        transition: 0.8s;

                        .filtro{

                            font-size: 1rem;
                            margin: 6px;
                        }
                    }
    
                    .containerFiltro.active{
    
                        left:0;
                    }
    
                    .burgerFiltro{
    
                        display:inline;
                            
                    }
                    .burgerFiltro.active .bar2:nth-child(2){
    
                        opacity: 0;
                    }
                    .burgerFiltro.active .bar2:nth-child(1){
        
                        transform: translateY(8px) rotate(45deg);
                    }
                    .burgerFiltro.active .bar2:nth-child(3){
        
                        transform: translateY(-8px) rotate(-45deg);
                    }
    
                    .search {
                     
                        align-self: center;
                    }
                    
                    
                }

                .contenedorFlex {

                    width: 100%;

                    .item1 {

                        width: 90%;
                        padding: 12px;
                        margin-top: 10px;
                    }
                }
        }
    }

    .footerPrincipal{

        margin-top: 466px;

        .footerAlineacion {

            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .contenedorDireccionFooter{
        
            width: 90%;
        }
        
    }

    
    .contenedorMenuFooter{

        .menuNavFooter{

            display:none;
            transition: 10.3s;
        }

        .menuNavFooter.active{

            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }

    .footerPrincipal .footerAlineacion .contenedorMenuFooter li {

        margin: 7px;
    }

    .burgerFooter{

        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    
    .burgerFooter.active .bar:nth-child(2) {

        opacity: 0;
    }

    .burgerFooter.active .bar:nth-child(1) {

        transform: translateY(8px) rotate(45deg);
    }

    .burgerFooter.active .bar:nth-child(3) {

        transform: translateY(-8px) rotate(-45deg);
    }

    
}// fin media query 481px


@media screen and (max-width: 319px) {

    
    .header{

        flex-direction: column;
        
        .alineacionBurger{

            width: 100%;
            justify-content: center;
            align-items: center;

            .burger{

            display:inline;
                
            }

            .burger.active .bar:nth-child(2){

                opacity: 0;
            }
            .burger.active .bar:nth-child(1){

                transform: translateY(8px) rotate(45deg);
            }
            .burger.active .bar:nth-child(3){

                transform: translateY(-8px) rotate(-45deg);
            }

            
            .cart1 {
                    
                width: 30px;
                margin-left: 51px;
                height: 28px;
            }
                
            .openbtn{

                transform: translateX(0px);
                padding: 0px 10px;
            }

        }
        
        .alineadorLogo {

            width: 100%;
            justify-content: center;
           
            h1 {

                padding: 17px 0 0px 0;
                font-size: 13px;
                height: 71px;
            }
            .logoHeader {

                width: 3.25rem;
            }
                
        }
   
        .iconResponsive{
   
            display: inline;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: 0;
            margin: 33px;
            box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
            border-radius: 3px;
           
        }

        .alineadorMenu{
  
            text-align: center;
            width: 100%;

            .menuNav{

               position: fixed;
               left: -100%;
               top: 101px;
               flex-direction: column;
               width: 100%;
               text-align: center;
               transition: 0.3s;
               background-color: rgba(0, 0, 0, 0.966);

                li {

                    padding: 10px 0;
                    margin: 16px 0;

                    a{
                        padding: 10px 0;
                    }
                }
            }

            .menuNav.active{

                left:0;
            }
        }
    }

    .hero{

        display: none;
    }

    .imgBorder {

        border-radius: 200px;
        max-width: 140px;
        max-height: 140px;
    }  
    .empresaID {
        height: 100px;
    }

   
    .sliderEmpresa{

        justify-content: center;
        flex-direction: column;

        h2{

            margin-top: 15px;
            transform: none;
            color: #ffffff;
            font-size: 15px;
        }

        .flexSlider {

            display: flex;
            flex-direction: column;

            .contendorImg {

                height: auto;

                .parrafo {

                    width: 90%;
                    text-align: center;
                    transform: translate(13px, 31px);
                    font-size: 15px;
                }
                
                .img {

                    width: 95%;
                    height: 1317px;
                    transform: translate(6px, -1069px);
                    margin: 0;
                }
            }

            .slideshow-container {

                width: 80%;
                align-self: center;
                margin-top: 67px;
                transform: translateX(-1px);
                
                .img2 {
                        
                    width: 100%; 
                }
            }

        }

    }

    .partners{

        p {
    
            font-size: large;
            line-height: 30px;
        }

        .flexPartner{

            flex-direction: column;
            align-items: center;

            p {
                width: 95%;
                align-self: center;
            }

        }

        .tab button {
   
            font-size: 15px;
        }
        
            
        .grid {

            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
            width: 100%;
            place-items: center;
        }


        .gridUno {

            grid-area: 2/1/3/2;
        }

        .gridDos {

            grid-area: 3/1/4/2;;
        }
        .gridTres {

            grid-area: 4/1/5/2;
        }

        .gridCuatro {

            grid-area: 5/1/6/2;
        }

        .gridCinco {

            grid-area: 6/1/7/2;
        }
        .gridSeis {

            grid-area: 7/1/8/2;
        }
        
        .gridSiete {

            grid-area: 8/1/9/2;
        }

        .gridOcho {
            
            grid-area: 9/1/10/2;
        }
    



       



    }


    .productos {


        .tituloProductos{

            display: none;
                
        }
        .alineacionProductos {

            flex-direction: column;

                .asideProductos{

                    width: 100%;
                    height: auto;
                    align-items: center;
                    justify-content: space-evenly;
                    top: 101px;
                    border-left: 0;
    
                    .containerFiltro {
    
                        position: fixed;
                        background-color: #000000db;
                        width: 100%;
                        top: 131px;
                        left: -100%;
                        transition: 0.8s;

                        .filtro{

                            font-size: 1rem;
                            margin: 6px;
                        }
                    }
    
                    .containerFiltro.active{
    
                        left:0;
                    }
    
                    .burgerFiltro{
    
                        display:inline;
                            
                    }
                    .burgerFiltro.active .bar2:nth-child(2){
    
                        opacity: 0;
                    }
                    .burgerFiltro.active .bar2:nth-child(1){
        
                        transform: translateY(8px) rotate(45deg);
                    }
                    .burgerFiltro.active .bar2:nth-child(3){
        
                        transform: translateY(-8px) rotate(-45deg);
                    }
    
                    .search {
                     
                        align-self: center;
                    }
                    
                    
                }

                .contenedorFlex {

                    width: 100%;

                    .item1 {

                        width: 90%;
                        padding: 12px;
                        margin-top: 10px;
                    }
                }
        }
    }

    .footerPrincipal{

        margin-top: 466px;

        .footerAlineacion {

            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .contenedorDireccionFooter{
        
            width: 90%;
        }
        
    }

    
    .contenedorMenuFooter{

        .menuNavFooter{

            display:none;
            transition: 10.3s;
        }

        .menuNavFooter.active{

            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }

    .footerPrincipal .footerAlineacion .contenedorMenuFooter li {

        margin: 7px;
    }

    .burgerFooter{

        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    
    .burgerFooter.active .bar:nth-child(2) {

        opacity: 0;
    }

    .burgerFooter.active .bar:nth-child(1) {

        transform: translateY(8px) rotate(45deg);
    }

    .burgerFooter.active .bar:nth-child(3) {

        transform: translateY(-8px) rotate(-45deg);
    }

}// fin media query 319px
