@mixin formulario($display, $ancho, $margen, $borde, $bordeRadio, $fondoColor){

    display:$display;
    width: $ancho;
    margin:$margen;
    border:$borde;
    border-radius: $bordeRadio;
    background-color: $fondoColor;
}

@mixin direccionContacto($ancho,$posicion,$x,$y,$nombre){

    width: $ancho;
    position: absolute;
    z-index: $posicion;
    transform: translate($x,$y);
    animation-name:$nombre;
    animation-duration: 1s;
    transition: 1s;
}

@mixin facturaContainer(){

    display: flex;
    flex-direction: column;
    width: 33%;
    align-content: space-around;
    align-self: center;
    flex-wrap: wrap;
}

@mixin flexConfiguracion1 ($display, $justify, $align, $direccion){

    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direccion;
}